/* @import url(https://fonts.googleapis.com/css?family=Montserrat); */

.App {
  background: #fff;
  background: radial-gradient(circle, #fff);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 900px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: green;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
  justify-content: space-between;
}

.form-container .footer button:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.basic-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.basic-btn {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.skills-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scores-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.score-btn-title {
  justify-content: left;
  align-items: center;
}

.form-title {
  background-color: green;
  align-items: center;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  /* bottom: 40px;
  left: 220px; */
  top: 35px;
  width: 50%;
}

.form-name {
  justify-content: center;
  color: #fff;
  align-items: center;
  position: relative;
  left: 190px;
}
